<div class="container mt-4" *ngIf="product">
  <h2><i class="fas fa-info-circle"></i> Product Details</h2>
  <ul class="list-group mt-3">
    <li class="list-group-item">
      <strong><i class="fas fa-hashtag"></i> ID:</strong> {{ product.id }}
    </li>
    <li class="list-group-item">
      <strong><i class="fas fa-tag"></i> Name:</strong> {{ product.title }}
    </li>
    <li class="list-group-item">
      <strong><i class="fas fa-dollar-sign"></i> Price:</strong>
      {{ product.price | currency }}
    </li>
    <li class="list-group-item">
      <strong><i class="fas fa-align-left"></i> Description:</strong>
      {{ product.description }}
    </li>
  </ul>
  <a [routerLink]="['/products']" class="btn btn-secondary mt-3">
    <i class="fas fa-arrow-left"></i> Back to List
  </a>
</div>
<div class="container mt-4" *ngIf="!product">
  <p class="text-center">Loading product details...</p>
</div>
